<app-modal
  [modalTitle]="modalTitle"
  [modalDescription]="modalDescription"
  [modalImage]="modalImage"
  [hasOkButton]="hasOkButton"
  (close)="closeModal()">
</app-modal>
<div class="d-flex justify-content-center">
  <div class="d-flex align-items-start p-lg-5 justify-content-center inner-body">
    <div class="container p-md-5 px-3 py-4 mt-md-5 mt-3 align-content-center justify-content-center"
      id="login-container">

      <h2 class="mb-5">Forgot your password?</h2>

      <form [formGroup]="requestNewPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Enter your email:</label>
          <input type="email" class="form-control" id="inputEmail" formControlName="email">
          <small *ngIf="requestNewPasswordForm.get('email')?.errors?.['required'] && requestNewPasswordForm.get('email')?.touched">
            Enter the email you registered with.
          </small>
        </div>

        
        <button type="submit" class="text-uppercase fs-5 btn btn-dark rounded-pill px-5 py-3 mt-3 bg-dark main-btn"
          [disabled]="requestNewPasswordForm.invalid">Request a new password</button>
      </form>

    </div>
  </div>
</div>
<div *ngIf="isLoadingComponent" class="loader-container d-flex justify-content-center align-items-center">

  <div class="mini-container">
    <p class="text-center h3 fst-italic text-white mb-3">hang on...</p>
    <div class="loader">
    </div>

  </div>
</div>