
<div>
  
  
  <div class="container m-5 p-5 text-center" id="survey-container">
    
    <div *ngIf="showAvatar">
      <p>Your avatar type is:</p>
      
      <h3><span>{{ userAvatarTemper.temperType}}</span>&nbsp;
      <span>{{ userAvatarChronotype.chronotypeType}}</span></h3>
       <div class="row d-flex justify-content-center align-items-center">
        <div class="col-5"><img [src]="userAvatarUrl" class="img-fluid"/></div>
      
        <div class="col-7 text-start">
          <p>The {{ userAvatarChronotype.chronotypeType}} chronotype {{ userAvatarChronotypeDescription}}</p>
      <p>Their energy and ability to concentrate peaks in the {{userAvatarChronotypeMaxEnergyType}}.</p>
      <p>Being {{userAvatarTemper.temperType}}, {{ userAvatarTemperDescription }}</p>
      <p>Inner strength: {{userAvatarTemperStrength}}</p>
      <p>Vulnerability: {{userAvatarTemperRisk}}</p>
        </div>
       </div>
      
      <a routerLink="/study-plan"><button type="button" class="text-uppercase fs-5 btn btn-dark rounded-pill px-5 py-3 mt-3 ms-2" (click)="createStudyPlanAndAssociateMantras()">Discover your study plan</button></a>
  
    </div>
    <div *ngIf="questionsPage && currentQuestion && !showAvatar">
      <form [formGroup]="getCurrentFormGroup(currentQuestion)" (ngSubmit)="onSubmit()" class="px-5">
        <div class="question-card">
          <div class="question-details fs-5">
            <div *ngIf="currentQuestion.questionType === 'CHRONOTYPE' || currentQuestion.questionType === 'TEMPER'">
              <h5 class="fw-bold">Avatar Assessment</h5>
            </div>
            <div *ngIf="currentQuestion.questionType === 'LONG_TERM_GOAL' || currentQuestion.questionType === 'SHORT_TERM_GOAL' || currentQuestion.questionType === 'DAYS'">
              <h5 class="fw-bold">Goal Assessment</h5>
            </div>
            <div *ngIf="currentQuestion.questionType !== 'SATISFACTION' && currentQuestion.questionType !== 'RESTART'">
              <div>
                <h4 class="fw-bold">{{ currentQuestion.questionText }}</h4>
              </div>
           
            <div class="answers-list" id="answer-list">
              <ng-container [ngSwitch]="currentQuestion.questionType">
                <ul class="list-unstyled row justify-content-center" *ngSwitchCase="'CHRONOTYPE'">
                  <li class="justify-content-center d-flex mb-3" *ngFor="let answer of answersMap[currentQuestion.id] || []">
                    <div class="conceal-radio d-flex justify-content-center border border-1 border-black">
                    <input type="radio" [value]="answer.id" [formControlName]="getFormControlName(currentQuestion)"
                      [attr.name]="'question' + currentQuestion.id">
                      <label class="d-flex align-items-center justify-content-center p-3">{{ answer.answerText }}</label>
                    </div>
                  </li>
                </ul>
                <ul class="list-unstyled row justify-content-center" *ngSwitchCase="'TEMPER'">
                  <li class="justify-content-center d-flex mb-3" *ngFor="let answer of answersMap[currentQuestion.id] || []">
                    <div class="conceal-radio d-flex justify-content-center border border-1 border-black">
                    <input class="me-2" type="radio" [value]="answer.id" [formControlName]="getFormControlName(currentQuestion)"
                      [attr.name]="'question' + currentQuestion.id">
                  <label class="d-flex align-items-center justify-content-center p-3"> {{ answer.answerText }}</label>
                </div>
                  </li>
                </ul>
                <input type="text" *ngSwitchCase="'LONG_TERM_GOAL'"
                  [formControlName]="getFormControlName(currentQuestion)"
                  [attr.name]="'question' + currentQuestion.id" />
                <input type="text" *ngSwitchCase="'SHORT_TERM_GOAL'"
                  [formControlName]="getFormControlName(currentQuestion)"
                  [attr.name]="'question' + currentQuestion.id" />
                <input type="number" *ngSwitchCase="'DAYS'" [formControlName]="getFormControlName(currentQuestion)"
                  [attr.name]="'daysQuestion' + currentQuestion.id" />
                <input type="number" *ngSwitchCase="'SATISFACTION'"
                  [formControlName]="getFormControlName(currentQuestion)"
                  [attr.name]="'satisfactionQuestion' + currentQuestion.id" />
              </ng-container>
            </div>
      
          </div>
          </div>
        </div>
        <div class="button-group">
          <button type="button" class="text-uppercase fs-5 btn btn-dark rounded-pill px-5 py-3 mt-3 me-2"
            (click)="previousQuestion()" [disabled]="currentQuestionIndex === 0"><i
              class="bi bi-arrow-left"></i></button>
          <button type="button" class="text-uppercase fs-5 btn btn-dark rounded-pill px-5 py-3 mt-3 ms-2"
            (click)="nextQuestion()" [disabled]="!isCurrentAnswerValid()"><i class="bi bi-arrow-right"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>