<div class="survey-container container m-5">
    <h2>Survey Questions</h2>
  
    <div *ngIf="questionsPage && currentQuestion">
      <form [formGroup]="getCurrentFormGroup(currentQuestion)" (ngSubmit)="onSubmit()">
        <div class="question-card">
          <div class="question-details" *ngIf="currentQuestion.questionType !== 'SATISFACTION' && currentQuestion.questionType !== 'RESTART'">
            <div><strong>{{ currentQuestion.questionText }}</strong></div>
            <!-- <div class="answers-list" *ngIf="currentQuestion.questionType !== 'RESTART'"> -->
                <div class="answers-list">
              <ng-container [ngSwitch]="currentQuestion.questionType">
                <ul class="list-unstyled" *ngSwitchCase="'CHRONOTYPE'">
                  <li *ngFor="let answer of answersMap[currentQuestion.id] || []">
                    <input type="radio" [value]="answer.id"
                           [formControlName]="getFormControlName(currentQuestion)"
                           [attr.name]="'question' + currentQuestion.id">
                    {{ answer.answerText }}
                  </li>
                </ul>
                <ul class="list-unstyled" *ngSwitchCase="'TEMPER'">
                  <li *ngFor="let answer of answersMap[currentQuestion.id] || []">
                    <input type="radio" [value]="answer.id"
                           [formControlName]="getFormControlName(currentQuestion)"
                           [attr.name]="'question' + currentQuestion.id">
                    {{ answer.answerText }}
                  </li>
                </ul>
                <input type="text" *ngSwitchCase="'LONG_TERM_GOAL'"
                       [formControlName]="getFormControlName(currentQuestion)"
                       [attr.name]="'question' + currentQuestion.id" />
                <input type="text" *ngSwitchCase="'SHORT_TERM_GOAL'"
                       [formControlName]="getFormControlName(currentQuestion)"
                       [attr.name]="'question' + currentQuestion.id" />
                <input type="number" *ngSwitchCase="'DAYS'"
                       [formControlName]="getFormControlName(currentQuestion)"
                       [attr.name]="'daysQuestion' + currentQuestion.id" />
                <input type="number" *ngSwitchCase="'SATISFACTION'"
                       [formControlName]="getFormControlName(currentQuestion)"
                       [attr.name]="'satisfactionQuestion' + currentQuestion.id" />
              </ng-container>
            </div>
            <!-- <div class="answers-list" *ngIf="currentQuestion.questionType === 'RESTART'">
              <ul class="list-unstyled">
                <li>
                  <input type="radio" [value]="true"
                         [formControlName]="getFormControlName(currentQuestion)"
                         [attr.name]="'restartQuestion' + currentQuestion.id"> Yes
                </li>
                <li>
                  <input type="radio" [value]="false"
                         [formControlName]="getFormControlName(currentQuestion)"
                         [attr.name]="'restartQuestion' + currentQuestion.id"> No
                </li>
              </ul>
            </div> -->
          </div>
        </div>
        <div class="button-group">
          <button type="button" (click)="previousQuestion()" [disabled]="currentQuestionIndex === 0">Previous</button>
          <button type="button" (click)="nextQuestion()" [disabled]="!isCurrentAnswerValid()">Next</button>
        </div>
      </form>
    </div>
  </div>