footer {
    background: rgba(255,255,255,0) !important;
}

.study-plan-footer .footer-bs {
    justify-content: flex-start;
  }

  .footer-bs {
    display: flex;
    justify-content: space-between;
  }
  
  .study-plan-footer .footer-bs {
    justify-content: flex-start;
  }

  .lh-1 {
    margin-right: 17px;
  }

  .bi-github {
    font-size: 30px;
  }