<!-- Button to open the modal -->
<!-- <button type="button" class="btn btn-primary" (click)="openModal()">Open Modal</button> -->

<!-- The Modal -->
<div id="myModal" class="modal" [ngClass]="{'show': isModalOpen}">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header d-flex justify-content-between">
      <h3 class="text-center">{{ modalTitle }} </h3>
      <span class="close" (click)="closeModal()">&times;</span>
    </div>
    
    <p>{{ modalDescription}}</p>
    <button type="button" class="btn rounded-pill" (click)="closeModal()">OK</button>
  </div>
</div>
 
<div class="d-flex justify-content-center">
  <div class="d-flex align-items-start p-lg-5 justify-content-center inner-body">
    <div class="container p-md-5 px-3 py-4 mt-md-5 mt-3 align-content-center justify-content-center"
      id="login-container">

      <h2 class="mb-5">Login to your account</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail" formControlName="email">
          <small *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched">
            Enter the email you registered with.
          </small>
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword" formControlName="password">
          <small *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">
            Enter the password.
          </small>
        </div>

        <button type="submit" class="text-uppercase fs-5 btn btn-dark rounded-pill px-5 py-3 mt-3 bg-dark main-btn"
          [disabled]="loginForm.invalid">Sign in</button>
      </form>

    </div>
  </div>
</div>
<div *ngIf="isLoading" class="loader-container d-flex justify-content-center align-items-center">

  <div class="mini-container">
      <p class="text-center h3 fst-italic text-white mb-3">hang on...</p>
      <div class="loader">
      </div>

  </div>
</div>