#studyPlanFit {
    height: 200px;
    width: 200px;
    border: 2px dashed black;
  }

  #studyPlanFit {
    transition: 0.2s;
  }

  #studyPlanFit:hover {
    background: white;
    transition: 0.2s;
  }

  .profile-card, .stats-card{
    background: rgba(255,255,255,0.4);
    box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.9);
  }

  .simil-h3 {
    font-family: "Piazzolla", serif;
    
  }