<div class="d-flex justify-content-center">
    <div class="container m-lg-5 p-5">
        <div *ngIf="user && avatar">
            <div class="row">
                <div class="col">

                    <div class="d-lg-flex justify-content-between align-items-center">
                        <h2 class="pb-1 text-center text-lg-start">Hi, <span class="text-capitalize simil-h3">{{ user.name }}.</span></h2>
                        <div class="d-md-flex justify-content-lg-end justify-content-center"><p class="mb-0 me-2 fs-4 text-center">you're a </p><p class="text-uppercase fw-bold fs-4 text-center">{{
                                avatar.temper.temperType }} {{ avatar.chronotype.chronotypeType }} </p></div>
                    </div>

                    <div class="profile-card">
                        <div class="row p-3 mx-md-3 justify-content-center">
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="pe-4"><img [src]="avatar.image" alt="Avatar Image"
                                        class="text-info img-fluid" /></div>
                            </div>
                            <div class="col pt-3 align-content-center text-center text-lg-start">
                                <p>The <i>{{ avatar.chronotype.chronotypeType }}</i> chronotypes {{
                                    avatar.chronotype.description }}</p>
                                <p>Being <i>{{avatar.temper.temperType}}</i>, {{
                                    avatar.temper.description }}</p>
                                <div class="d-md-flex justify-content-between pb-3">
                                    <p class="mb-md-0 mb-2">Peak energy <span
                                            class="btn-light border border-1 border-black px-2 bg-white">{{
                                            avatar.chronotype.maxEnergyType }}</span></p>
                                    <p class="mb-md-0 mb-2">Strength <span
                                            class="btn-light border border-1 border-black px-2 bg-white">{{
                                            avatar.temper.strengthType }}</span></p>
                                    <p class="mb-md-0">Risk <span class="btn-light border border-1 border-black px-2 bg-white">{{
                                            avatar.temper.riskType }}</span></p>
                                </div>
                                <div class="d-flex justify-content-between mt-3 align-items-center flex-md-row flex-column"><i>Your avatar
                                        doesn't fit you anymore?</i>
                                    <button (click)="confirmRestart()"
                                        class="text-uppercase btn btn-dark rounded-pill d-block px-3 mt-2 mt-md-0"
                                        id="avatarFit">Restart your journey</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-md-flex justify-content-between align-items-center px-0 mt-5 mb-md-0 mb-3">
                        <h2 class="pb-1 mb-md-3 mb-0 text-center text-md-start">Your stats:</h2>
                        <p class="mb-0 fs-4 text-center">how well are you doing?</p>
                    </div>
                    <div class="stats-card p-3">
                        <div class="row p-3">

                            <div class="col-lg col-12 pt-lg-3 text-center text-lg-start">
                                <div class="pb-3">
                                    <p class="mb-1 me-3">Current goal</p>
                                    <p
                                            class="text-uppercase btn-light border border-1 border-black px-2 bg-white d-lg-inline">{{
                                            studyPlan?.shortTermGoal }}</p>
                                    <p class="mb-0">Long term goal</p>
                                    <p
                                            class="text-uppercase btn-light border border-1 border-black px-2 bg-white d-lg-inline">{{
                                            user.longTermGoal }}</p>

                                </div>
                                <div>
                                    <p class="mb-0 text-decoration-underline">ARE YOU STUDYING ENOUGH?</p>
                                    <p>Based on your answers, you're likely <span
                                            *ngIf="isStudyEnough; else notStudyEnough">studying
                                            enough</span><ng-template #notStudyEnough>NOT studying enough</ng-template>
                                    </p>
                                </div>

                                <div>
                                    <p class="mb-0 text-decoration-underline">ARE YOU HAVING ENOUGH FUN?</p>
                                    <p>Based on your answers, you're likely <span
                                            *ngIf="isFunEnough; else notFunEnough">having enough fun</span><ng-template
                                            #notFunEnough>NOT having enough fun</ng-template></p>
                                </div>

                                <div>
                                    <p class="mb-0 text-decoration-underline">ARE YOU SLEEPING ENOUGH?</p>
                                    <p>Based on your answers, you're likely <span
                                            *ngIf="isRestEnough; else notRestEnough">sleeping enough</span><ng-template
                                            #notRestEnough>NOT sleeping enough</ng-template></p>
                                </div>



                                <a role="button" routerLink="/study-plan" class="text-decoration-none d-flex d-lg-block justify-content-center"><button
                                        class="text-uppercase btn btn-dark rounded-pill d-block px-3 mt-lg-0 mt-3"
                                        id="avatarFit">Check your study plan</button></a>
                            </div>

                            <div class="col-lg-4 col-12 d-flex align-items-center justify-content-lg-end justify-content-center">
                                <div class="pe-lg-4 mt-lg-0 mt-5"><button (click)="confirmRestart()"
                                        class="text-uppercase btn rounded-pill d-block" id="studyPlanFit">Wrong study
                                        plan?</button></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>