#studyPlanFit {
    display: none;
    height: 200px;
    width: 200px;
    border: 2px dashed black;
  }

  #studyPlanFit {
    transition: 0.2s;
  }

  #studyPlanFit:hover {
    background: white;
    transition: 0.2s;
  }

  .profile-card, .stats-card{
    background: rgba(255,255,255,0.7);
  }

  .simil-h3 {
    font-family: "Rasa", serif;
  }