<div id="myModal" class="modal" [ngClass]="{ 'show' : isModalOpen }">
    <div class="modal-content">
        <div class="row pe-md-4 px-md-0 px-4">
            <div class="col-12 col-md d-flex align-content-center justify-content-md-start justify-content-center p-0">
                <img [src]="modalImage" class="img-fluid" />
            </div>
            <div class="col modal-info-col p-0 d-flex flex-column align-content-end">

                <div class="modal-header py-0 px-0 d-flex justify-content-center">
                    <h3 class="text-center mb-3">{{ modalTitle }} </h3>
                    <span class="close" (click)="closeModal()">&times;</span>
                </div>
                <p class="text-center">{{modalDescription}}</p>

                <div class="d-flex justify-content-center">

                    <button *ngIf="hasOkButton" type="button" class="btn rounded-pill align-self-center w-25"
                    (click)="closeModal()">OK</button>
                    <button *ngIf="hasYesButton" type="button"
                        class="btn rounded-pill align-self-center w-25 m-2" (click)="onYesClick()">YES</button>
                    <button *ngIf="hasNoButton" type="button"
                        class="btn rounded-pill align-self-center w-25 m-2" (click)="closeModal()">NO</button>

                    <button *ngIf="hasGoAheadButton" type="button"
                        class="btn rounded-pill align-self-center w-50 m-2" (click)="onGoAheadClick()">GO AHEAD</button>
                    <button *ngIf="hasHellNoButton" type="button"
                        class="btn rounded-pill align-self-center w-50 m-2" (click)="closeModal()">HELL NO!</button>

                </div>
            </div>
        </div>
    </div>
</div>
