<div class="container my-5 intro-container">
    <div class="row my-4 align-items-center p-5">
        <div class="col-6">
            <h2>Catch your focus &amp; <br>guide your studying</h2>
            <p class="fs-5 mt-4">Find your quirks, release your inner beast <br> and jump on a journey to achieve your
                goals!
            </p>
            <a href="#whatsFocufy" class="btn p-0" role="button">
                <button class="text-uppercase fs-5 btn btn-dark rounded-pill px-5 py-3 mt-3">Discover more</button>
            </a>
        </div>
        <div class="col-6">
            <img src="../../../assets/img/beast2.jpg" class="img-fluid" />
        </div>
    </div>
</div>
<div class="container my-5 whatscontainer">
    <div class="row pb-2">
        <div class="col">
            <h2 class="text-center" id="whatsFocufy">What's Focufy?</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-2"></div>
        <div class="col-8">
            <p class="fs-5">Focufy it’s the best digital companion for achieving an enhanced performance flow while
                studying.
                Designed to help you discover more about your habits, strengths, and weaknesses, it will work to plan
                your learning journeys in the most efficient and uplifting way.
            </p>
        </div>
        <div class="col-2"></div>

    </div>
    <div class="container my-5 how-container">
        <div class="row p-5">
            <div class="col">
                <h2 class="text-center" id="whatsFocufy">How does it work?</h2>
            </div>
        </div>
        <div class="row text-center d-flex justify-content-center">
            <div class="col-2">

                <h3>1</h3>
                <p class="fs-4">Sign up</p>

            </div>
            <div class="col-1 align-content-center">
                <p class="fs-3"><img src="../../../assets/img/paw.svg" class="img-fluid paw-illustration-1dir" /></p>
            </div>
            <div class="col-2">

                <h3>2</h3>
                <p class="fs-4">Take our personality test</p>

            </div>
            <div class="col-1 align-content-center">
                <p class="fs-3"><img src="../../../assets/img/paw.svg" class="img-fluid paw-illustration-2dir" /></p>
            </div>
            <div class="col-2">
                <h3>3</h3>
                <p class="fs-4">Set your goals</p>
            </div>
            <div class="col-1 align-content-center">
                <p class="fs-3"><img src="../../../assets/img/paw.svg" class="img-fluid paw-illustration-1dir" /></p>
            </div>
            <div class="col-2 row">
                <h3>4</h3>
                <p class="fs-4">Start your adventure!</p>
            </div>
        </div>
    </div>
    <div class="container my-5 ready-container">
        <div class="row p-5">
            <div class="col text-center">
                <h2 class="text-center" id="whatsFocufy">Are you ready?</h2>
                <a class="btn p-0" role="button" routerLink="/register">
                    <button class="text-uppercase fs-5 btn btn-dark rounded-pill px-5 py-3 mt-3">Let's start!</button>
                </a>
            </div>
        </div>
    </div>