<div class="container my-5 intro-container">
    <div class="row align-items-center px-5">
        <div class="col-7">
            <h2>Catch your focus &amp; <br>guide your studying</h2>
            <p class="fs-5 mt-4">Find your quirks, release your inner beast <br> and jump on a journey to achieve your
                goals!
            </p>
            <a href="#whatsFocufy" class="btn p-0" role="button">
                <button class="text-uppercase fs-5 btn btn-dark rounded-pill px-5 py-3 mt-3">Discover more</button>
            </a>
        </div>
        <div class="col">
            <img src="../../../assets/img/beast3.png" class="img-fluid p-3" />
        </div>
    </div>
</div>
<div class="container mb-5 pt-5 whatscontainer" id="whatsFocufy">
    <div class="row pb-2 pt-5">
        <div class="col">
            <h2 class="text-center">What's Focufy?</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-2"></div>
        <div class="col-8">
            <p class="fs-5">Focufy it’s the best digital companion for achieving an enhanced performance flow while
                studying.
                Designed to help you discover more about your habits, strengths, and weaknesses, it will work to plan
                your learning journeys in the most efficient and uplifting way.
            </p>
        </div>
        <div class="col-2"></div>

    </div>
    <div class="container my-5 how-container">
        <div class="row p-5">
            <div class="col">
                <h2 class="text-center">How does it work?</h2>
            </div>
        </div>
        <div class="row text-center d-flex justify-content-center">
            <div class="col-2 dashed-col d-flex row py-3">
                <div class="col-12 align-content-end"><h3 class="m-0">1</h3></div>
                
                <div class="col-12"><p class="fs-5">Sign up</p></div>

            </div>
            <div class="col-1 align-content-center px-4 mx-2">
                <p class="fs-3"><img src="../../../assets/img/paw.svg" class="img-fluid paw-illustration-1dir" /></p>
            </div>
            <div class="col-2 dashed-col d-flex row py-3">

                <div class="col-12 align-content-end"><h3 class="m-0">2</h3></div>
                <div class="col-12"><p class="fs-5">Take our personality test</p></div>

            </div>
            <div class="col-1 align-content-center px-4 mx-2">
                <p class="fs-3"><img src="../../../assets/img/paw.svg" class="img-fluid paw-illustration-2dir" /></p>
            </div>
            <div class="col-2 dashed-col d-flex row py-3">
                <div class="col-12 align-content-end"><h3 class="m-0">3</h3></div>
                <div class="col-12"><p class="fs-5">Set your goals</p></div>
            </div>
            <div class="col-1 align-content-center px-4 mx-2">
                <p class="fs-3"><img src="../../../assets/img/paw.svg" class="img-fluid paw-illustration-1dir" /></p>
            </div>
            <div class="col-2 dashed-col d-flex row py-3">
                <div class="col-12 align-content-end"><h3 class="m-0">4</h3></div>
                <div class="col-12"><p class="fs-5">Start your adventure!</p></div>
            </div>
        </div>
    </div>
    <div class="container my-5 ready-container">
        <div class="row p-5">
            <div class="col text-center">
                <h2 class="text-center">Are you ready?</h2>
                <a class="btn p-0" role="button" routerLink="/register">
                    <button class="text-uppercase fs-5 btn btn-dark rounded-pill px-5 py-3 mt-3">Let's start!</button>
                </a>
            </div>
        </div>
    </div>