/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
    background: linear-gradient( 45deg, #a1e6ff,#d1b57c,#b5fffb );
    animation: gradient 12s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar-brand {
    width: 50px;
}

@media screen and (max-width: 640px) {
    
}

h2 {
    font-family: "Rasa", serif;
    /* font-family: "Piazzolla", serif; */
    /* font-family: "Quattrocento", serif; */
    font-weight: 700;
    font-style: italic;
    font-size: 4em;
    line-height: 1em;
}

h3 {
    font-family: "Rasa", serif;
    /* font-family: "Quattrocento", serif; */
    font-style: normal;
    font-weight: 700;
    font-size:2.5em;
}
h4{
    font-size: 1.5em;
}

p, li, label {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}

span {
    font-family: "Red Hat Text", sans-serif;
}

button {
    font-family: "Red Hat Text", sans-serif !important;
}

.navbar li {
    font-size: 1.5em;
}

button {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.paw-illustration-1dir {
    transform: rotate(70deg);
    width: 40px;
}

.paw-illustration-2dir {
    transform: rotate(110deg);
    width: 40px;
}

.how-container p{
    line-height: 1.2em;

}

.how-container h3 {
    font-size: 4em;
}

footer span {
    font-size: 0.8em !important;
}

form label {
    font-size: 1.2em;
}

form small {
    color: #b30000;
}

.form-control {
    border-radius: 0px;
    border-bottom: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

#survey-container{
    min-height: 90vh;
}



