/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


.navbar-brand {
    width: 50px;
}

h2 {
    font-family: "Quattrocento", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5em;
    line-height: 1em;
}

h3 {
    font-family: "Quattrocento", serif;
    font-style: normal;
    font-size:2.5em;
}
h4{
    font-size: 1.5em;
}

p, li {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar li {
    font-size: 1.5em;
}

button {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.paw-illustration-1dir {
    transform: rotate(70deg);
    width: 40px;
}

.paw-illustration-2dir {
    transform: rotate(110deg);
    width: 40px;
}

.how-container p{
    line-height: 1.2em;

}

.how-container h3 {
    font-size: 4em;
}

footer span {
    font-size: 0.8em !important;
}

form label {
    font-family: "Jost", sans-serif;
    font-size: 1.2em;
}

form small {
    color: #b30000;
}

.form-control {
    border-radius: 0px;
    border-bottom: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

#login-container, #survey-container{
    min-height: 90vh;
}



