@import 'bootstrap/scss/bootstrap';

body {
    background: linear-gradient(45deg, #a1e6ff, #dedd9e, #b5fffb);
    animation: gradient 12s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.navbar-brand {
    width: 50px;
}

@media screen and (max-width: 560px) {
    h2 {
        font-size: 2.2em;
    }
}

@media only screen and (min-width: 561px) and (max-width:991px) {
    h2 {
        font-size: 2.1em;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    h2 {
        font-size: 3.2em;
    }
}

@media screen and (min-width: 1200px) {
    h2 {
        font-size: 4em;
    }
}

@media screen and (min-width: 992px) {
    p {
        font-size: 1.2em;
    }
}

h2 {
    font-family: "Piazzolla", serif;
    font-weight: 700;
    font-style: italic;
    line-height: 1em;
}

h3 {
    font-family: "Piazzolla", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
}

h4 {
    font-size: 1.5em;
    font-family: "Piazzolla", serif;
}

p,
li,
label {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

span {
    font-family: "Red Hat Text", sans-serif;
}

button {
    font-family: "Red Hat Text", sans-serif !important;
}

.navbar li {
    font-size: 1.5em;
}

button {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

footer span {
    font-size: 0.8em !important;
}

form label {
    font-size: 1.2em;
}

form small {
    color: #b30000;
}

.form-control {
    border-radius: 0px;
    border-bottom: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

#survey-container {
    min-height: 90vh;
}

.main-btn:hover {
    background: white !important;
    color: black !important;
    transition: 0.2s;
}

//https://css-loaders.com/dots/

.loader {
    height: 2.3em;
    aspect-ratio: 5;
    --_g: no-repeat radial-gradient(farthest-side, #ffffff 94%, #ffffff00);
    background: var(--_g), var(--_g), var(--_g), var(--_g);
    background-size: 20% 100%;
    animation:
        l40-1 .75s infinite alternate,
        l40-2 1.5s infinite alternate;

}

@keyframes l40-1 {

    0%,
    10% {
        background-position: 0 0, 0 0, 0 0, 0 0
    }

    33% {
        background-position: 0 0, calc(100%/3) 0, calc(100%/3) 0, calc(100%/3) 0
    }

    66% {
        background-position: 0 0, calc(100%/3) 0, calc(2*100%/3) 0, calc(2*100%/3) 0
    }

    90%,
    100% {
        background-position: 0 0, calc(100%/3) 0, calc(2*100%/3) 0, 100% 0
    }
}

@keyframes l40-2 {

    0%,
    49.99% {
        transform: scale(1)
    }

    50%,
    100% {
        transform: scale(-1)
    }
}

.loader-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10000;
}

.small-loader-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}