li,
a {
    font-size: 1em;

}

.navbar-light {
    background: rgba(255, 255, 255, 0) !important;
}

.nav-link {
    color: black;
}

.nav-btn {
    background: black;
}

@media only screen and (max-width: 560px) {

    #logo {
        width: 110px !important;
    }

    #navbarNav {
        position: fixed;
        right: 0px;
        top: 43px;
    }

    #navbarNav ul {
        backdrop-filter: blur(20px);
        padding-left: 10px;
        padding-bottom: 5px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        padding-top: 10px;
        background: rgba(255, 255, 255, 1);
        padding-right: 10px;
    }

    #navbarNav li {
        margin-bottom: 6px;
    }

    .navbar .navbar-toggler,
    .navbar-toggler:focus {
        border: 0px;
        box-shadow: none;
        padding: 1px;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar::after {
        mask: linear-gradient(to top, transparent, black 46%);
    }
}

@media only screen and (min-width: 561px) and (max-width: 1023px) {
    #navbarNav {
        display: flex;
    }

    .navbar-toggler {
        display: none;
    }

    ul {
        flex-direction: row;
    }
}


@media only screen and (min-width: 561px) {

    #logo {
        width: 130px !important;
    }

    .navbar::after {
        transform: scale(2);
        background: white;
        mask: linear-gradient(to top, transparent, black 80%);
        backdrop-filter: blur(14px);
    }
}

.navbar::after {
    content: "";
    position: fixed;
    height: 100px;
    inset: 0;
    z-index: -1;
    background: white;
    backdrop-filter: blur(14px);
}