
li, a {
    font-size: 1em;
    
}

/* .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    text-decoration: underline;
} */

.navbar-light {
    background: rgba(255,255,255,0) !important;
}

.nav-link {
    color: black;
}

/* a:hover {
    text-decoration: underline;
} */

@media only screen and (max-width: 560px) {

    #logo {
        width: 110px !important;
    }
    
    #navbarNav {
        position: fixed;
        right: 10px;
        top: 68px;

    }

    #navbarNav li {
        margin-bottom: 6px;
    }

    .navbar .navbar-toggler, .navbar-toggler:focus {
        border: 0px;
        box-shadow: none;
        padding: 1px;
    }

    .navbar-toggler-icon {
        filter: brightness(0);
    }
}

@media only screen and (min-width: 561px) and (max-width: 1023px) {
    #navbarNav {
        display: flex;
    }

    .navbar-toggler {
        display: none;
    }
    ul {
        flex-direction: row;
    }
}


@media only screen and (min-width: 561px) {

    #logo {
        width: 130px !important;
    }

    .navbar::after{
        transform: scale(2);
        background: white;
        mask: linear-gradient(to top, transparent, black 55%);
    backdrop-filter: blur(14px);
    }
}

.navbar li:hover {
    filter: brightness(2);
}

.navbar::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: white;
    mask: linear-gradient(to top, transparent, black 80%);
backdrop-filter: blur(14px);
 }