<app-modal [modalTitle]="modalTitle" [modalDescription]="modalDescription" [modalImage]="modalImage"
    [hasOkButton]="hasOkButton" (close)="closeModal()">
</app-modal>
<div class="d-flex justify-content-center">
    <div class="d-flex align-content-center flex-column">
        <div class="d-flex align-items-start p-lg-5 justify-content-center inner-body mb-5 mt-4 mt-md-0 mb-md-0">
            <div class="container p-md-5 px-3 py-4 mt-md-5 mt-3 align-content-center justify-content-center"
                id="change-username-container">

                <h2 class="mb-5">Edit your username</h2>

                <form [formGroup]="updateUsernameForm" class="d-flex flex-column">
                    <div class="mb-3">
                            <label for="inputEmail" class="form-label">Your username</label>
                            <input type="text" class="form-control" id="inputName" formControlName="name">
                    </div>


                    <button
                        class="text-uppercase btn btn-dark rounded-pill px-md-5 py-3 mt-3 bg-dark main-btn"
                        [disabled]="updateUsernameForm.invalid" (click)="onUpdateUsername(userId)">UPDATE USERNAME</button>
                </form>
            </div>
        </div>
        <div class="d-flex align-items-start p-lg-5 justify-content-center inner-body">
            <div class="container p-md-5 px-3 py-4 align-content-center justify-content-center"
                id="change-password-container">

                <h2 class="mb-5">Edit your password</h2>

                <form [formGroup]="updatePasswordForm" class="d-flex flex-column">

                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">New password</label>
                        <input type="password" class="form-control" id="inputPassword" formControlName="password">
                        <small
                            *ngIf="updatePasswordForm.get('password')?.errors?.['required'] && updatePasswordForm.get('password')?.touched">
                            Enter the new password.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="inputPasswordConf" class="form-label">Confirm new password</label>
                        <input type="password" class="form-control" id="passwordConf" formControlName="passwordConf">
                        <div
                            *ngIf="updatePasswordForm.get('passwordConf')?.invalid && updatePasswordForm.get('passwordConf')?.touched">
                            <small *ngIf="updatePasswordForm.get('passwordConf')?.errors?.['required']">The field is
                                required</small>
                            <small
                                *ngIf="updatePasswordForm.get('passwordConf')?.hasError('passwordMatch') && updatePasswordForm.get('passwordConf')?.touched">
                                The passwords don't match
                            </small>
                        </div>
                    </div>

                    <button
                        class="text-uppercase btn btn-dark rounded-pill px-md-5 py-3 mt-3 bg-dark main-btn"
                        [disabled]="updatePasswordForm.invalid" (click)="onUpdatePassword(userId)">UPDATE PASSWORD</button>
                </form>

            </div>
        </div>

        <div class="d-flex align-items-start p-lg-5 justify-content-center inner-body mb-5 pb-5">
            <div class="container p-md-5 px-3 py-4 align-content-center justify-content-center"
                id="change-password-container">

                <h2 class="mb-5">Edit your email</h2>

                <div class="warning-container">
                    <p>Need to update your email? Just shoot us a message at <a href="mailto:info.focufy@gmail.com">info.focufy&#64;gmail.com</a></p>

                </div>

            </div>
        </div>
        


    </div>
</div>
